section {
  padding: 80px 15% 70px;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  height: 100vh;
  width: 100%;
  align-items: center;
  gap: 4.5rem;

  img {
    width: 100%;
  }

  &-text {
    h1{
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    p {
      font-size: $p-font;
      color: $other-color;
      line-height: 30px;
      margin-bottom: 2.5rem;
    }
  }
}

.h-search form {
  position: relative;
  width: 410px;
  max-width: 100%;

  input {
    &:first-child {
      display: inline-block;
      width: 100%;
      padding: 17px 130px 16px 15px;
      border: 2px solid $main-color;
      border: 0.7rem;
    }
  }
}