@import './config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Work Sans', sans-serif;
}

body {
  background: $bg-color;
  color: $text-color;
}

header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 15%;
  @include transition-ease;
}

.logo {
  height: auto;
  width: 100%;
}

.navbar {
  display: flex;

  a {
   padding: 10px 25px;
   font-size: $p-font;
   font-weight: 400;
   color: $other-color;
   @include transition-ease;
  }
}

